{
  "$schema": "https://json.schemastore.org/swcrc",
  "jsc": {
    "target": "esnext",
    "keepClassNames": true,
    "externalHelpers": false,
    "loose": false,
    "parser": {
      "syntax": "typescript",
      "dynamicImport": true,
      "importAssertions": true,
      "decorators": false
    }
  }
}
