{
  "name": "@rss-hub/api",
  "cwd": "/path/to/app",
  "script": "src/apps/api/main.ts",
  "node_args": ["--no-warnings", "--loader=ts-node/esm"],
  "exec_mode": "fork",
  "watch": false,
  "instances": 1,
  "wait_ready": true,
  "env": {
    "NODE_ENV": "production"
  }
}
