html,
body {
  width: 100vw;
  min-height: 100vh;
}

body,
#app {
  overflow-x: hidden;
  min-height: 100%;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #212529;
  }
}

@media (prefers-color-scheme: light) {
  body {
    background-color: #fff;
  }
}

.masonry {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.masonry .item {
  height: 100px;
}
