@import url("/deps/simpledotcss/simple.min.css");

#feed-item-content {
  overflow-x: auto;
}

#feed-item-content table {
  table-layout: fixed;
  width: 100%;
}

#feed-item-content img,
#feed-item-content video,
#feed-item-content audio {
  width: 100%;
  height: auto;
}

#feed-item-content .iframe-container {
  position: relative;
  overflow: hidden;
  width: 100%;
}

#feed-item-content .iframe-container::after {
  display: block;
  content: "";
  padding-top: 56.25%;
}

#feed-item-content .iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
